{% extends 'base.html.twig' %}

{% block title %}User index{% endblock %}

{% block body %}
    <h1>User index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Prenom</th>
                <th>Nom</th>
                <th>Genre</th>
                <th>Datenaissance</th>
                <th>Pseudo</th>
                <th>Email</th>
                <th>Mdp</th>
                <th>Mdpconfirm</th>
                <th>Phone</th>
                <th>Adresse</th>
                <th>Ville</th>
                <th>Cp</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for user in users %}
            <tr>
                <td>{{ user.id }}</td>
                <td>{{ user.prenom }}</td>
                <td>{{ user.nom }}</td>
                <td>{{ user.genre }}</td>
                <td>{{ user.datenaissance ? user.datenaissance|date('Y-m-d') : '' }}</td>
                <td>{{ user.pseudo }}</td>
                <td>{{ user.email }}</td>
                <td>{{ user.mdp }}</td>
                <td>{{ user.mdpconfirm }}</td>
                <td>{{ user.phone }}</td>
                <td>{{ user.adresse }}</td>
                <td>{{ user.ville }}</td>
                <td>{{ user.cp }}</td>
                <td>
                    <a href="{{ path('voiruser', {'id': user.id}) }}">show</a>
                    <a href="{{ path('modifuser', {'id': user.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="14">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('inscription') }}">Create new</a>
{% endblock %}